<!DOCTYPE html>
<html>
  <head>
    <title>ExpirationDate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <p class="header_pageTitle">
        <%= link_to 'expiration date', root_path %>
      </p>
    </header>
    <%= yield %>
  </body>
</html>
