<div class="container profile">
  <div class="form_wrapper">
    <div class="profile_user">
      <div class="profile_user_image">
        <%= image_tag @user.avatar_image %>
      </div>
      <div>
        <div class="profile_user_name">
          <div class="name">
            <%= @user.profile.nickname %>
          </div>
          <div class="profile_user_edit_btn">
            <% if current_user&.has_followed?(@user) %>
              <%= link_to 'フォロー中', account_follow_path(@user), data: {turbo_method: 'delete'} %>
            <% else %>
              <%= link_to 'フォローする', account_follows_path(@user), data: {turbo_method: 'post'} %>
            <% end %>
          </div>
        </div>
        <div class="profile_user_id">
          ID
          <%= @user.profile.my_id %>
          <p>お互いにフォローすると共有されます</p>
        </div>
      </div>
    </div>
  </div>
</div>